body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
} 

.centrar {
    display: flex;
    justify-content: space-around;
}

.color {
    background-color: rgb(118, 116, 213);
}

.font {
    font-size: 14px;
}

.boton-hover:hover {
    background-color: rgb(101, 98, 232);
}

.text-description {
    color: var(--bs-heading-color);
    font-size: 1.25rem;
    text-align: justify;
}